#search-form {
    position: relative;
}

.card-img-top-cover {
    background-position: center center;
    background-size: cover;
    display: block;
    background-color: rgba(0,0,0,.125);
}
.height-card-image {
    height: 180px;
}
.height-card-image-half {
    height: 90px;
}
.card-text {
    max-width: 100%;
    word-wrap: break-word;
}

.items-nohover > :hover {
    background-color: transparent;
}
.btn-text {
    padding: 0;
    vertical-align: baseline;
    line-height: 1.5;
    margin-left: 5px;
}
.table-inline td {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

.card-text:empty {
    display: none;
}